{% extends "base.html" %}

{% block title %}Add Sessions{% endblock %}

{% block content %}
<form method="post">
    {% if error %}
    <p style="color: red;">{{ error}} </p>
    {% endif %}

    <label>Date <input type="date" name="date" required></label>

    <label>Exercise <input type="text" name ="exercise" required></label>

    <label>Weight <input type="number" name="weight" step="any" required></label>
  
    <label>Reps <input type="number" name="reps" required></label>
  
    <button type="submit">Add</button>
</form>
{% endblock %}